body{
    overflow-x:hidden; 
    font-family: 'Open Sans', sans-serif;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.sidebar-mod{
    background-color: #383838 !important;
    height: 100% !important;
    padding: 0px !important;
    position: fixed;
    z-index: 9999;
}
.sidebar-mod .nav{
    margin-top: 100px;
}
.sidebar-mod .nav li{
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    transition: all 300ms ease;
}
.sidebar-mod .nav li a{
    color: #fff;
    font-weight: 600;
}
.sidebar-mod .nav .active-mod a{
    color: #fff;
}
.active-mod{
    border-right: 8px solid #abfd27;
    background-color: transparent;
    color: #abfd27 !important;
}
.sidebar-mod .nav li a:hover{
    background-color:  transparent;
    color: #abfd27;
}
.sidebar-mod .nav li a:active{
    background-color:  #fff;
}
.sidebar-mod .nav li a:focus{
    border-right: 8px solid #abfd27;
    background-color: transparent;
    color: #abfd27;
}
.navbar-mod{
    background-color: #ffffff !important;
}
.navbar-brand-mod{
    color: #fff !important;
    width: 100%;
    border-bottom: 1px solid #757575;
}
.content{
    margin-top: 70px;
}
.available-bal{
    padding-left: 16px;
    margin-bottom: 35px;
    color: #c3c3c3;
}
.available-bal span{
    color: #74bb74;
}
.login-block{
    width: 320px;
    height: auto;
    margin: 90px auto;
}
.login-block h4,
.login-block form label{
    color: #777;
    font-weight: normal;
}

/*checkbox*/
#radioBtn a{
    font-size: 14px;
}
#radioBtn .notActive{
    color: #b7b7b7;
    border-color: #d8d8d8;
    background-color: #f3f3f3;
}
/*checkbox*/